.TravelItineraryGenerator {
  background-color: #f6f4eb;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* height: 100%; */
}

.generate-button {
  background-color: #4682a9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon-container {
  display: flex;
  justify-content: center;
}

.loading-icon {
  animation: spin 1.5s linear infinite;
  height: 100px;
}

.itinerary-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.modal-borders {
  border: none;
  display: flex;
  flex-direction: column;
}

.itinerary-header {
  margin-left: 20px;
}

.AI-message {
  margin-bottom: -18px;
  margin-left: 20px;
  margin-right: 20px;
}

.activity {
  margin-bottom: 40px;
}

.activity-description {
  list-style-type: disc;
}

.add-activity-button {
  background-color: #4682a9;
  color: white;
  padding: 0px 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.4s;
}

.generate-activity-button {
  background-color: #4682a9;
  color: white;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  margin-left: 5px;
}

.cancel-add-activity {
  color: red;
  padding: 1px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  margin-bottom: 20px;
  margin-left: 5px;
}

.save-add-activity {
  color: green;
  padding: 1px 8px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  margin-bottom: 20px;
  margin-left: 5px;
}

.add-activity-input {
  margin-bottom: 10px;
  width: 30%;
}

.registrationModal {
  border-radius: 10px;
  background-color: #f6f4eb;
}

.itinerary-button {
  background-color: #4682a9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

.AI-suggestion-button {
  background-color: #4682a9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  margin-top: 5px;
}

.activity-description li:hover {
  color: gray;
  text-decoration: line-through;
}

.save-itinerary-button {
  float: right;
  background-color: #4682a9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
  margin-left: 5px;
}

.save-itinerary-button:hover {
  transform: scale(1.1);
}

.delete-button {
  background-color: #4682a9;
  color: white;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

.transform-scale:hover {
  transform: scale(1.05);
}

.location-input-container {
  display: flex;
}

/* .location-input {
  height: 10px;
} */

/* .use-my-location-button {
  width: 15%;
} */
