#group-gallery-top {
  height: 34vw;
  background-color: #f6f4eb;
}

#all-groups {
  width: 100vw;
  margin-top: 5rem;
  background-color: #f6f4eb;
}

#all-groups-heading {
  padding: 2rem;
}

#all-groups-inner {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.emoji-wrapper {
  display: inline-block;
  width: 2rem; /* Adjust as needed for desired alignment */
  vertical-align: middle;
}

.emoji {
  font-size: 1.5rem; /* Adjust as needed for emoji size */
  display: inline-block;
  line-height: 1;
}

.h2-gallery,
.h3-gallery {
  vertical-align: middle;
  font-weight: 600;
}

.group-link {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: inherit;
  margin: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.432);
  padding: 10px;
  width: 16rem;
  height: 16rem;
}

.group-link img {
  margin-top: 1.5rem;
  width: 90%;
  max-height: 200px;
}

.group-title {
  margin-top: 1rem;
  font-size: 16px;
}

#create-group-all {
  width: 85%;
  margin: auto;

  /* margin-top: 6rem; */
  display: flex;
}

#create-group-left {
  width: 60%;
  border-radius: 2.5%;
  background-color: #f3eedb;

  padding: 2rem;
  height: auto;
  max-height: 39rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#create-group-left > p {
  padding-bottom: 2rem;
}

#create-group-right {
  width: 50%;
  border-radius: 2.5%;
}
