.join-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

.join-group-form {
  width: 85%;
  background-color: #f3eedb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 11rem;
  position: relative;
}

.join-label {
  display: block;
  /* font-weight: bold; */
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.join-input-text {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.join-button {
  background-color: #4682a9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.join-button:hover {
  background-color: #325b76;
  transform: scale(1.025);
}
