[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
openai = "*"
bcrypt = "*"
flask-bcrypt = "*"
uuid = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
dev="flask run"
test="pytest"
