.group-info-section {
  margin-top: 2rem;
  display: flex;
  height: 16rem;
  width: 100vw;
  margin: auto;
}

.group-info-section-left {
  margin: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.group-info-section-left-content {
  margin: auto;
}

.group-info-section-right {
  display: flex;
  width: 60vw;
  margin: auto;

  justify-content: space-evenly;
}

/* Upload Styles */

.upload-asset-modal > textarea {
  background-color: #fff !important;
  font-size: 16px;
}

.upload-asset-modal > input {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.upload-asset-button {
  background-color: #4682a9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

.upload-asset-button:hover {
  background-color: #325b76;
  transform: scale(1.025);
}

/* Gallery Styles */
.memories-gallery {
  margin-top: 3rem;
  padding-top: 2rem;
  background-color: rgb(200, 192, 192);
}

.my-masonry-grid {
  display: flex;
  margin-left: -10px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.memory-div {
  margin-bottom: 20px;

  padding: 5px;
  border-radius: 5%;
  background-color: rgba(240, 248, 255, 0.438);
}

.memory-div > img {
  border-radius: 5%;
}

.memory-image-content {
  margin-top: 10px;
}

.memory-text-content {
  min-height: 4rem;
}
